@import url('https://fonts.googleapis.com/css?family=Numans');
body{
    background: url("/images/bg3.jpg") no-repeat center center fixed;
    background-size: cover;
}
.curtain{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(40,57,101,.75);
    
}

.container{
    max-width: 450px;
    font-family: 'Numans', sans-serif;
}
.a{
    padding: 0;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.t{
    background: rgba(40,57,101,.9);
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 768px) { 
    .container{
         max-width: 100%;
         font-family: 'Numans', sans-serif;
         min-height: 100vh;
     }
     .a{
         margin: 0;
     }
     .t{
         padding-top: 70px;
     }
 }
 @media (max-width: 425px) { 
    .t{
         padding-left: 15px;
         padding-right: 15px;
     }
 }