.styleDIV {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	width:100%;
}	  
.styleTABLE {
	width:100%;
	BORDER-COLLAPSE:collapse;
	border-bottom-style:none;
	border-right-style:none;
}	
.styleTHEAD {
	color: #FFFFFF;
	background-color: #00008B;
	text-align:center;
}	
.styleTBODY { 
	text-align: center;
}
.styleTFOOT {
	color: #FFFFFF;
	background-color: #00008B;
	font-weight: bold;
}

.styleTBODY td{
	border: 0.5px solid black;
}

.styleTBODY tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.1);
}