* {
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    min-height: 100vh;
    color: #fff;
    font-family: "Roboto Slab", sans-serif;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  
    overflow: hidden;
    background: url("/images/bg3.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .curtain{
      position: absolute;
      width: 100%;
      min-height: 100vh;
      background: rgba(40,57,101,.75);
      display: flex;
      flex-direction: column;
      justify-content: center;
          
      }
  .countdown-wrapper {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 60px;
    margin: 0 0 20px;
  }
  
  .year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    line-height: 1;
    z-index: -1;
    opacity: 0.2;
  }
  
  .countdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }
  
  .time h2 {
    margin: 0 0 10px;
    font-size: 48px;
  }
  
  .time small {
    font-size: 26px;
  }

  @media screen and (max-width: 550px) {
    .title {
        font-size: 40px;
    }
    .time {
        margin: 15px;
    }
}

@media screen and (max-width: 380px) {
    .title {
        font-size: 30px;
    }
    .time {
        margin: 15px;
    }
    .time h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 321px) {
    .time h2 {
        font-size: 30px;
    }
    .time small {
        font-size: 19px;
    }
}
